<div class="ccs-card">
  <h3>🎭 Creative Stunt</h3>
  <p><b>{{actorName}}</b> vs <b>{{targetName}}</b></p>
  <p><b>Action:</b> {{actionName}} • vs DC <span class="ccs-dc" data-dc="{{dc}}">??</span></p>

  <p>Outcome: <b>{{degree}}</b>
    {{#if tacticalRisk}} • <i>Tactical Risk</i>{{/if}}
    {{#if triggerLabel}} • Trigger: <b>{{triggerLabel}}</b>{{/if}}
    {{#if spentPool}} • 🎬 +1 upgrade{{/if}}
    {{#if logExtras}} • {{logExtras}}{{/if}}
  </p>
{{#if applied}}
  <p><i>Applied:</i>
    {{#if applied.targetEffect}}{{applied.targetEffect}}{{/if}}
    {{#if applied.selfEffect}}{{#if applied.targetEffect}}, {{/if}}{{applied.selfEffect}}{{/if}}
  </p>
{{else if appliedFallback}}
  <p><i>Applied:</i> {{appliedFallback}}</p>
{{/if}}


</div>