<div class="ccs-card">
  <h3>{{localize "CCS.Outcome.CreativeStunt"}}</h3>
  <p><b>{{actorName}}</b> vs <b>{{targetName}}</b></p>
  <p><b>{{localize "CCS.Outcome.Action"}}</b> {{actionName}} • vs DC <span class="ccs-dc" data-dc="{{dc}}">??</span></p>

  <p>{{localize "CCS.Outcome.Outcome"}} <b>{{degree}}</b>
    {{#if tacticalRisk}} • <i>{{localize "CCS.Outcome.TacticalRisk"}}</i>{{/if}}
    {{#if triggerLabel}} • {{localize "CCS.Outcome.Trigger"}} <b>{{triggerLabel}}</b>{{/if}}
    {{#if spentPool}} • {{localize "CCS.Outcome.Upgrade"}}{{/if}}
    {{#if logExtras}} • {{logExtras}}{{/if}}
  </p>

  {{!-- Applied block with clear separation --}}
  {{#if hasAnyApplied}}
    {{#if appliedTargetText}}
      <p><i>{{localize "CCS.Outcome.AppliedToTarget"}}</i> {{appliedTargetText}}</p>
    {{/if}}
    {{#if appliedSelfText}}
      <p><i>{{localize "CCS.Outcome.AppliedToSelf"}}</i> {{appliedSelfText}}</p>
    {{/if}}
  {{else if appliedFallback}}
    <p><i>{{localize "CCS.Outcome.Applied"}}</i> {{appliedFallback}}</p>
  {{/if}}




</div>